$bg-color:rgb(244, 140, 99);

@mixin wh($arg1,$arg2){
    width: $arg1;
    height: $arg2;
}
.cat{
    background-color: $bg-color;
    box-shadow: 0 0 0.3rem 0 rgb(148, 149, 147);
    @include wh( 100%,4rem);
    text-align: center;
    align-content: center;
    ol{
        display: flex;
        list-style:none ;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
   li{
        color:white;
        font-size: 1.2rem;
        text-decoration: none;
        text-transform:uppercase ;
        letter-spacing: 2px;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s;

    }
    li:hover{
        background-color: rgb(143, 249, 249);
        cursor: pointer;
    }
    Link{
        text-decoration: none;
        color: inherit;
    }
}
@media screen and (max-width: 768px) {
    .cat {
      @include wh(100%, 3rem);
  
      ol {
        padding: 5px;
      }
  
      li {
        font-size: 1rem;
        padding: 5px;
      }
    }
  }
  
  @media screen and (max-width: 480px) {
    .cat {
      @include wh(100%, 2rem);
  
      ol {
        padding: 2px;
      }
  
      li {
        font-size: 0.8rem;
        padding: 2px;
      }
    }
  }

